<template>
  <div>
    <p>This is a child component. Message from parent: {{ parentMessage }}</p>
  </div>
</template>

<script>
export default {
  props: {
    parentMessage: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
p {
  color: green;
}
</style>
