<template>
  <div>
    <form @submit.prevent="submitForm">
      <input type="text" v-model="name" placeholder="Enter product name"><br>
      <textarea v-model="description" placeholder="Enter description"></textarea><br>
      <input type="number" v-model="price" placeholder="Enter product price">
      <button type="submit">Submit</button>
    </form>
    <p v-if="responseMessage">{{ responseMessage }}</p>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      name: '',
      description: '',
      price: 0,
      responseMessage: ''
    }
  },
  methods: {
    async submitForm() {
      try {
        const response = await axios.post('/api/products', {
          name: this.name,
          description: this.description,
          price: this.price
        });
        this.responseMessage = response.data.message;

        this.name = '';
        this.description = '';
        this.price = 0;

      } catch (error) {
        console.error(error);
      }
    }
  }
}
</script>

<style scoped>
form {
  margin: 20px 0;
}
input {
  margin-right: 10px;
}
</style>
